<% if (success && success.length) { %>
  <div class="flash-container">
    <div class="flash-toast flash-toast-success">
      <span class="flash-icon">✓</span>
      <span class="flash-message"><%= success[0] %></span>
      <button class="flash-close">&times;</button>
    </div>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div class="flash-container">
    <div class="flash-toast flash-toast-error">
      <span class="flash-icon">!</span>
      <span class="flash-message"><%= error[0] %></span>
      <button class="flash-close">&times;</button>
    </div>
  </div>
<% } %>

<script>
  const toast = document.querySelector(".flash-toast");
  const closeBtn = document.querySelector(".flash-close");

  if (toast && closeBtn) {
    const removeToast = () => {
      toast.closest(".flash-container")?.remove();
    };

    setTimeout(() => {
      toast.classList.add("flash-hide");
      setTimeout(removeToast, 400);
    }, 5000);

    closeBtn.addEventListener("click", () => {
      toast.classList.add("flash-hide");
      setTimeout(removeToast, 400);
    });
  }
</script>

